.handpickedForYouItems {
    display: flex;
    gap: 2rem;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 80%;
    margin: 0 auto;
}

.handpickedForYouContainer {
    padding: 5em 0em;
    display: flex;
    flex-direction: column;
    align-items: center;
}