.HandpickedContainer{
    width: 16rem;
    background-color: #fff;
    border-radius: 1em;
}

.hanpickedImage{
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    width: 100%;
}
.propertyInfo{
    padding: 1em;
}