.sectionBackground {
  background-color: #ffffff; 
  padding: 5em 0;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  text-align: center;
}

.heading {
    font-size: clamp(1.7rem, 2.5vw, 2.5rem);
    margin-bottom: 2em;
    color: #172a3a;
    font-weight: 600;
}

.cardsGrid {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap; 
}

.card {
  max-width: 430px; 
  background-color: #f4f6f8;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); 
  text-align: left;
  display: flex; 
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.quote {
  font-size: 1rem;
  line-height: 1.6;
  color: #555;
  margin-bottom: 25px;
  font-style: normal;
}

.authorContainer {
  margin-top: auto;
  padding-top: 15px; 
}

.authorInfo {
  display: flex;
  flex-direction: column;
}

.authorName {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

.authorTitle {
  font-size: 0.9rem;
  color: #777;
  margin-top: 2px;
}

@media (max-width: 1200px) {
  .cardsGrid {
    padding: 0 10px;
  }
}

@media (max-width: 992px) {
  .cardsGrid {
    gap: 20px;
  }
  .card {
    max-width: 45%; 
  }
}

@media (max-width: 768px) {
  .heading {
    font-size: 2rem;
  }
  .card {
    max-width: 100%; 
  }
}