.pageSection {
    max-width: 1200px;
    margin: 0 auto;
}

.theDreamContainer{
    padding: 5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.theDreamTitle {
    font-size: clamp(1.7rem, 2.5vw, 2.5rem);
    margin-bottom: 0.5em;
    color: #172a3a;
    font-weight: 600;
}

.theDreamSubtitle {
    text-align: center;
    font-size: clamp(1rem, 1vw, 1.1rem);
    max-width: 45rem;
    color: rgb(108 117 125);
    margin-bottom: 3em;
}

.theDreamExamplesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    max-width: 80rem
}

@media (max-width: 768px) {
    .theDreamExamplesContainer {
        flex-direction: column;
        align-items: center;
        gap: 4em;
    }
}