.theDreamExampleContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 20rem;
}

.theDreamExampleIcon {
    width: 4rem;
    height: 4rem;
    padding: 0.8rem;
    background-color: #e6f6f5;
    border-radius: 50%;
    margin-bottom: 1.5rem;
}

.theDreamExampleName {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    color: #172a3a;
}

.theDreamExampleText {
    font-size: 1rem;
    color: rgb(108 117 125);
    line-height: 1.5;
}