.amenities{
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.amenitiesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 1rem 0;
}

.amenity {
    display: flex;
    gap: 0.8em;
    align-items: center;
    flex: 0 0 33.33%; 
    box-sizing: border-box;
    padding-right: 15px; 
}

.amenityIcon {
    width: 1.2rem;
    height: 1.2rem;
    border: 0.12em solid #4cb9a6;
    padding: 0.2rem;
    border-radius: 50%;
    flex-shrink: 0;
}

.amenityTitle {
    margin: 0;
    color: #4b5563;
    font-weight: 400;
    font-size: 1rem;
}

.amenitiesTtitle{
    font-size: clamp(1.2rem, 2vw, 1.5rem);
}
@media (max-width: 900px) {
    .amenity {
        flex: 0 0 50%;
    }
}

@media (max-width: 600px) {
    .amenity {
        flex: 0 0 100%;
    }
}