.bannerContainer {
    background-color: #004a7f;
    padding: 6rem 1.5rem;
    border-radius: 0.5rem;
    width: 90%;
    margin: 4rem auto;
}

.bannerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bannerTitle {
    font-size: clamp(1.7rem, 2.5vw, 2.5rem);
    margin-bottom: 0.5em;
    color: #ffffff;
    font-weight: 600;
}

.bannerSubtitle {
    text-align: center;
    font-size: clamp(1rem, 1vw, 1.1rem);
    color: #ffffff;
    max-width: 50rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
}

.bannerButton {
    display: inline-block;
    padding: 0.75rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    border-radius: 0.35rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #4dc5a2;
    color: #ffffff;
    border: 1px solid #4dc5a2;
}

.bannerButton:hover {
    background-color: #3aa686;
    border-color: #3aa686;
}