.navContainer {
    display: flex;
    justify-content: space-between;
    padding: 1em 5em;
    background-color: #f4f6f8cc;
    align-items: center;
}

.siteLink {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.siteLogoContainer{
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1em;
}

.siteLogo{
    width: 2.5rem;
}

.siteName{
    font-weight: 700;
}

.siteLinksContainer {
    display: flex;
    gap: 1em;
}

.selected {
    text-decoration: none;
    color: rgb(0, 74, 127);
    font-weight: 550;
}

.siteLinksContainerMobile{
    background-color: #f4f6f8cc;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5em 0;
    gap: .5em;
}

.siteMobileMenuIcon{
    width: 1.5rem;
    cursor: pointer;
}

@media (max-width: 645px){
    .siteLinksContainer{
        display: none;
    }
    .navContainer{
        padding: 1em 0em;
        justify-content: space-around;
    }
}

@media (min-width: 645px){
    .siteLinksContainerMobile, .siteMobileMenuIcon{
        display: none;
    }
}