.teamMemberContainer {
  background-color: #f4f6f8;
  padding: 30px 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); 
  height: 400px;
  display: flex;
  flex-direction: column; 
}

.teamMemberImage {
  width: 150px; 
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin: 0 auto 20px; 
  flex-shrink: 0;
}

.teamMemberName {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1a1e27;
  margin-bottom: 5px;
  flex-shrink: 0;
}

.teamMemberPosition {
  font-size: 0.95rem;
  font-weight: 500;
  color: #007bff; 
  margin-bottom: 20px;
  flex-shrink: 0;
}

.teamMemberDescription {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #666;
  max-width: 300px;
  margin: 0 auto;
  
  flex-grow: 1; 
  
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

@media (max-width: 600px) {
  .teamMemberContainer {
    padding: 25px 15px;
    height: auto;
  }
}