.cardContainer {
    background-color: #f4f6f8;
    padding: 30px;
    border-radius: 12px;
    text-align: left;
    border: 0.1em solid gainsboro;
    display: flex;
    flex-direction: column;
    height: 250px;
}

.cardIconWrapper {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffe8d3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    flex-shrink: 0;
}

.cardIcon {
    font-size: 1.2rem;
    color: #ff7f50;
}

.cardTitle {
    font-size: 1.4rem;
    font-weight: 700;
    color: #1a1e27;
    margin-bottom: 15px;
    flex-shrink: 0;
}

.cardDescription {
    font-size: 1rem;
    line-height: 1.6;
    color: #666;
    margin: 0;
    flex-grow: 1;
}

@media (max-width: 600px) {
    .cardContainer {
        padding: 25px;
        height: auto;
    }

    .cardIconWrapper {
        width: 35px;
        height: 35px;
        margin-bottom: 20px;
    }

    .cardIcon {
        font-size: 1rem;
    }

    .cardTitle {
        font-size: 1.2rem;
    }

    .cardDescription {
        font-size: 0.95rem;
    }
}